<body>
<div class="wrapper">
  <div class="title">
    ĐĂNG KÝ TÀI KHOẢN
  </div>
  <div class="form">
    <div class="inputfield">
      <label>Họ và  tên <span style="color: red">*()</span>:</label>
      <input type="text" class="input">
    </div>
    <div class="inputfield">
      <label>Tài khoản <span style="color: red">*()</span>:</label>
      <input type="text" class="input">
    </div>
    <div class="inputfield">
      <label>Mật khẩu :</label>
      <input type="password" class="input">
    </div>
    <div class="inputfield">
      <label>Nhập lại mật khẩu :</label>
      <input type="password" class="input">
    </div>
    <div class="inputfield">
      <label>Ngày sinh <span style="color: red">*()</span>:</label>
      <input type="date" class="input">
    </div>
    <div class="inputfield">
      <label>CMDD/CCCD <span style="color: red">*()</span>:</label>
      <input type="number" class="input">
    </div>
    <div class="inputfield">
      <label>Giới tính :</label>
      <div class="custom_select">
        <select>
          <option value="">Giới tính</option>
          <option value="male">Nam</option>
          <option value="female">Nữ</option>
          <option value="female">Khác</option>
        </select>
      </div>
    </div>
    <div class="inputfield">
      <label>Email <span style="color: red">*()</span>:</label>
      <input type="email" class="input">
    </div>
    <div class="inputfield">
      <label>Số điện thoại <span style="color: red">*()</span>:</label>
      <input type="number" class="input">
    </div>
    <div class="inputfield">
      <label>Địa chỉ <span style="color: red">*()</span>:</label>
      <textarea class="textarea"></textarea>
    </div>
<!--    <div class="inputfield">-->
<!--      <label>Postal Code</label>-->
<!--      <input type="text" class="input">-->
<!--    </div>-->
<!--    <div class="inputfield terms">-->
<!--      <label class="check">-->
<!--        <input type="checkbox">-->
<!--        <span class="checkmark"></span>-->
<!--      </label>-->
<!--      <p>Agreed to terms and conditions</p>-->
<!--    </div>-->
    <div class="inputfield">
      <input type="submit" value="Đăng ký" class="btn">
    </div>
  </div>
</div>
</body>
