<div style="height: 100vh; background-color: #ECECEC">
  <div class="row">
    <h1 class="title" style="font-family: system-ui; color: #07425c">QUẢN LÝ THỜI KHOÁ BIỂU</h1>
  </div>

  <div class="row" style="margin-bottom: 30px">
    <div class="col-lg-1"></div>
    <div class="col-lg-3 col-md-4 col-sm-4 col-4">
      <label>
        <select class="form-select">
          <option>Khối</option>
          <option>Khối 1</option>
          <option>Khối 2</option>
          <option>Khối 3</option>
          <option>Khối 4</option>
        </select>
      </label>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-4 col-4">
      <label>
        <select class="form-select">
          <option>Lớp</option>
          <option>Lớp 1</option>
          <option>Lớp 2</option>
          <option>Lớp 3</option>
          <option>Lớp 4</option>
        </select>
      </label>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-4 col-4">
      <button type="button" class="btn btn-outline-primary">Xem</button>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <table class="table table-hover table-bordered">
        <thead class="table-responsive table-primary textCheck">
        <tr class="align-baseline">
          <th scope="col">Tiết học</th>
          <th scope="col">Thứ 2</th>
          <th scope="col">Thứ 3</th>
          <th scope="col">Thứ 4</th>
          <th scope="col">Thứ 5</th>
          <th scope="col">Thứ 6</th>
        </tr>
        </thead>
        <tbody class="textCheck">
        <tr>
          <th scope="row">1</th>
          <td>
            <label>
              <select class="form-select">
                <option>Trống</option>
                <option>Toán</option>
                <option>Tập đọc</option>
                <option selected>Kể truyện</option>
                <option>Thể dục</option>
              </select>
            </label>
          </td>
          <td><label>
            <select class="form-select">
              <option>Trống</option>
              <option selected>Toán</option>
              <option>Tập đọc</option>
              <option>Kể truyện</option>
              <option>Thể dục</option>
            </select>
          </label></td>
          <td><label>
            <select class="form-select">
              <option>Trống</option>
              <option selected>Toán</option>
              <option>Tập đọc</option>
              <option>Kể truyện</option>
              <option>Thể dục</option>
            </select>
          </label></td>
          <td><label>
            <select class="form-select">
              <option>Trống</option>
              <option>Toán</option>
              <option>Tập đọc</option>
              <option selected>Kể truyện</option>
              <option>Thể dục</option>
            </select>
          </label></td>
          <td><label>
            <select class="form-select">
              <option>Trống</option>
              <option>Toán</option>
              <option>Tập đọc</option>
              <option selected>Kể truyện</option>
              <option>Thể dục</option>
            </select>
          </label></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td><label>
            <select class="form-select">
              <option>Trống</option>
              <option selected>Toán</option>
              <option>Tập đọc</option>
              <option>Kể truyện</option>
              <option>Thể dục</option>
            </select>
          </label></td>
          <td><label>
            <select class="form-select">
              <option>Trống</option>
              <option selected>Toán</option>
              <option>Tập đọc</option>
              <option>Kể truyện</option>
              <option>Thể dục</option>
            </select>
          </label></td>
          <td><label>
            <select class="form-select">
              <option>Trống</option>
              <option selected>Toán</option>
              <option>Tập đọc</option>
              <option>Kể truyện</option>
              <option>Thể dục</option>
            </select>
          </label></td>

          <td><label>
            <select class="form-select">
              <option>Trống</option>
              <option selected>Toán</option>
              <option>Tập đọc</option>
              <option>Kể truyện</option>
              <option>Thể dục</option>
            </select>
          </label></td>
          <td><label>
            <select class="form-select">
              <option>Trống</option>
              <option>Toán</option>
              <option selected>Tập đọc</option>
              <option>Kể truyện</option>
              <option>Thể dục</option>
            </select>
          </label></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td><label>
            <select class="form-select">
              <option>Trống</option>
              <option selected>Toán</option>
              <option>Tập đọc</option>
              <option>Kể truyện</option>
              <option>Thể dục</option>
            </select>
          </label></td>
          <td><label>
            <select class="form-select">
              <option>Trống</option>
              <option>Toán</option>
              <option>Tập đọc</option>
              <option selected>Kể truyện</option>
              <option>Thể dục</option>
            </select>
          </label></td>
          <td><label>
            <select class="form-select">
              <option>Trống</option>
              <option>Toán</option>
              <option>Tập đọc</option>
              <option>Kể truyện</option>
              <option selected>Thể dục</option>
            </select>
          </label></td>
          <td><label>
            <select class="form-select">
              <option>Trống</option>
              <option>Toán</option>
              <option>Tập đọc</option>
              <option selected>Kể truyện</option>
              <option>Thể dục</option>
            </select>
          </label></td>
          <td><label>
            <select class="form-select">
              <option>Trống</option>
              <option selected>Toán</option>
              <option>Tập đọc</option>
              <option>Kể truyện</option>
              <option>Thể dục</option>
            </select>
          </label></td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td><label>
            <select class="form-select">
              <option>Trống</option>
              <option selected>Toán</option>
              <option>Tập đọc</option>
              <option>Kể truyện</option>
              <option>Thể dục</option>
            </select>
          </label></td>
          <td><label>
            <select class="form-select">
              <option>Trống</option>
              <option>Toán</option>
              <option selected>Tập đọc</option>
              <option>Kể truyện</option>
              <option>Thể dục</option>
            </select>
          </label></td>
          <td><label>
            <select class="form-select">
              <option>Trống</option>
              <option>Toán</option>
              <option>Tập đọc</option>
              <option>Kể truyện</option>
              <option selected>Thể dục</option>
            </select>
          </label></td>
          <td><label>
            <select class="form-select">
              <option>Trống</option>
              <option>Toán</option>
              <option>Tập đọc</option>
              <option selected>Kể truyện</option>
              <option>Thể dục</option>
            </select>
          </label></td>
          <td><label>
            <select class="form-select">
              <option>Trống</option>
              <option selected>Toán</option>
              <option>Tập đọc</option>
              <option>Kể truyện</option>
              <option>Thể dục</option>
            </select>
          </label></td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td><label>
            <select class="form-select">
              <option>Trống</option>
              <option selected>Toán</option>
              <option>Tập đọc</option>
              <option>Kể truyện</option>
              <option>Thể dục</option>
            </select>
          </label></td>
          <td><label>
            <select class="form-select">
              <option>Trống</option>
              <option>Toán</option>
              <option>Tập đọc</option>
              <option>Kể truyện</option>
              <option selected>Thể dục</option>
            </select>
          </label></td>
          <td><label>
            <select class="form-select">
              <option>Trống</option>
              <option>Toán</option>
              <option>Tập đọc</option>
              <option selected>Kể truyện</option>
              <option>Thể dục</option>
            </select>
          </label></td>
          <td><label>
            <select class="form-select">
              <option>Trống</option>
              <option>Toán</option>
              <option selected>Tập đọc</option>
              <option>Kể truyện</option>
              <option>Thể dục</option>
            </select>
          </label></td>
          <td><label>
            <select class="form-select">
              <option>Trống</option>
              <option selected>Toán</option>
              <option>Tập đọc</option>
              <option>Kể truyện</option>
              <option>Thể dục</option>
            </select>
          </label></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-1"></div>
  </div>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <!--            <button type="button" class="btn btn-outline-success update">Áp dụng-->
      <!--            </button>-->
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-outline-success update" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
        Áp dụng
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Yêu cầu cập nhật thời khoá biểu</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Bạn có chắc chắn cập nhật thời khoá biểu lớp 2A1 không?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
              <button type="button" class="btn btn-outline-success">Lưu</button>
            </div>
          </div>
        </div>
      </div>
      <!--            ---------------------------------->
    </div>
    <div class="col-lg-1">
    </div>
  </div>
</div>
