
<div class="small-container cart-page" style="min-height: 60vh">
  <table>
<thead>
    <tr>
      <th>Sản phẩm</th>
      <th>Số lượng</th>
<!--      <th>Size</th>-->
      <th>Giá tiền</th>
    </tr>
</thead>
  <tbody *ngIf="oderView.length > 0; else emptyCart">
      <tr *ngFor="let temp of oderView; index as i">
        <td>
          <div class="cart-info">
            <img src="{{temp.avatarProduct}}"/>
            <div>
              <p>{{temp.nameProduct}}</p>
              <small>{{temp.priceProduct | number:'1.0-0'}} VNĐ</small><br>
              <a style="cursor: pointer" (click)="deleteOder(temp.oderId)">Xóa khỏi giỏ</a>
            </div>
          </div>
        </td>
        <td>
          <input class="quantity" value="1" type="number" style="width: 50px; height: 30px" [value]="temp.quantity">
        </td>
        <td>{{temp.totalPrice | number:'1.0-0'}} VNĐ</td>
      </tr>
  </tbody>
  </table>

  <div class="total-price">
    <table>
      <tr>
        <td style="color: red">Tổng thanh toán:</td>
        <td style="color: red">{{totalPrice.totalPrice | number:'1.0-0'}} VNĐ</td>
      </tr>
    </table>
  </div>
   <a href="#" class="btn1" style="float: right">Thanh toán</a>
   <a routerLink="/" class="btn" style="float: right; margin-right: 95px" (click)="scrollProductBack()">Mua tiếp</a>
</div>

<ng-template #emptyCart>
  <h3 style="color: red; text-align: center">Chưa có sản phẩm nào trong giỏ hàng <span style="font-size: 35px">😢</span></h3>
</ng-template>
