<div class="small-container cart-page" style="height: auto">
  <a routerLink="/" class="btn" style="float: right" (click)="scrollProductBack()">Mua tiếp</a>
  <table>
    <thead>
    <tr>
      <th>Sản phẩm</th>
      <th>Số lượng</th>
      <!--      <th>Size</th>-->
      <th>Giá tiền</th>
    </tr>
    </thead>
    <tbody *ngIf="oderView.length != 0; else emptyCart">
    <tr *ngFor="let temp of oderView | paginate:{itemsPerPage: 5,currentPage:p}, index as i">
      <td>
        <div class="cart-info">
          <img src="{{temp.avatarProduct}}"/>
          <div>
            <p>{{temp.nameProduct}}</p>
            <small>{{temp.priceProduct | number:'1.0-0'}} VNĐ</small><br>
            <a style="cursor: pointer" (click)="deleteOder(temp.oderId)">Xóa khỏi giỏ</a>
          </div>
        </div>
      </td>
      <td>
        <input class="quantity" [value]="temp.quantity" #qty type="number" style="width: 50px; height: 30px"  (change)="changeQuantity(temp.oderId, qty.value)">
      </td>
      <td>{{temp.totalPrice | number:'1.0-0'}} VNĐ</td>

    </tr>

    </tbody>
  </table>
  <pagination-controls (pageChange)="p=$event"></pagination-controls>
  <div class="total-price">
    <table>
      <tr>
        <td style="color: red">Tổng thanh toán:</td>
        <td style="color: red">{{USDTotal | number:'1.0-0'}} VNĐ =</td>
        <td style="color: red">{{USDTotal/23000 | number:'1.0-0'}}$</td>
      </tr>
    </table>
  </div>
<div>
  <button class="btn1" type="button" style="float: right" [disabled]= "oderView.length == 0" [routerLink]="['/cart/payment', idAccount]">Thanh toán</button>
</div>
</div>
<ng-template #emptyCart>

  <img src="../../../assets/img/empty-cart.png" style="width: 50%; height: 400px; margin-left: 300px"/></ng-template>

