
/**Header*/

header{
  position: fixed;
  width:100%;
  border-bottom:1px solid #00000026;
  top:0%;
  z-index: 1;
  background-color: rgba(255, 235, 194, 0.33);
  backdrop-filter: blur(20px);
}
.box{
  width:1000px;
  max-width: 100%;
  display: grid;
  float: left;
  grid-template-columns: 200px auto 200px;
  margin: auto;
}
header .box div{
  display: flex;
  align-items: center;
}
header .logo{
  font-weight: bold;
  background-size: cover;
  /*justify-content: left!important;*/
}
header .menu{
  justify-content: center;
}
header .menu ul{
  padding:0;
  list-style: none;
}
header .menu ul li{
  display: inline-block;
  font-weight: bold;
  margin:0 10px;
}
header .menu ul .active{
  color:#FFAB59;
}
header .shop {
  float: right;
  /*justify-content: right !important;*/
}



