<header>
  <div class="box">
    <div class="logo" style="background-color: blue; cursor: pointer" routerLink="/">
      <h3 style="color: yellow; padding-left: 25px">CODEGYM</h3>
    </div>
    <div class="menu" style="color: orangered">
<!--      <ul style="margin-top: 5px">-->
<!--        &lt;!&ndash;        <li style="padding-top: 10px">&ndash;&gt;-->
<!--        &lt;!&ndash;          <button class="btn-outline-warning" routerLink="/">&ndash;&gt;-->
<!--        &lt;!&ndash;          <i class="fa-solid fa-house-user"></i>&ndash;&gt;-->
<!--        &lt;!&ndash;            HOME</button>&ndash;&gt;-->
<!--        &lt;!&ndash;        </li>&ndash;&gt;-->
<!--        <li class="animationTop delay-1">-->
<!--          <a style="color: white" routerLink="/customer/list">-->
<!--            <i class="fa-solid fa-user"></i>-->
<!--            Customer</a>-->
<!--        </li>-->

<!--        <li class="animationTop delay-12">-->
<!--          <a style="color: white" routerLink="/facility/list">-->
<!--            <i class="fa-solid fa-umbrella"></i>-->
<!--            Facility</a>-->
<!--        </li>-->
<!--        <li class="animationTop delay-13">-->
<!--          <a style="color: white" routerLink="/contract/list">-->
<!--            <i class="fa-solid fa-file-signature"></i>-->
<!--            Contract</a>-->
<!--        </li>-->
<!--        <li class="animationTop delay-02" style="color:white;">-->
<!--          <a href="https://www.facebook.com/login.php/">-->
<!--            <i class="fa-solid fa-comment-medical"></i>-->
<!--            Chat</a>-->
<!--        </li>-->

<!--        <li>-->
<!--          <a></a>-->
<!--        </li>-->
<!--      </ul>-->
    </div>

  </div>
</header>
