* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #555;
}

.buton-mn{
  text-decoration: none;
  color: #555;
}
p {
  color: #555;
}

.titleabc {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.titleabc:after {
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
  font-size: 40px;
  line-height: 60px;
  margin: 25px 0;
}

.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}

.col-2 .offer-img {
  padding: 50px;
}

small {
  color: #555;
}

.btn {
  display: inline-block;
  background: #FF523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background: #563434;
}

.rowabc {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}


@media (max-width: 700px) {
  .rowabc {
    flex-direction: column;
  }
}

.categoryabc {
  margin: 70px 0;
}

.col-3a {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3a img {
  width: 100%;
}

.small-containerabc {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
}

.col-4 img {
  width: 100%;
}

.row-2 {
  justify-content: space-between;
  margin: 100px auto 50px;
}


select {
  border: 1px solid #ff523b;
  padding: 5px;
}

select:focus {
  outline: none;
}

.brands {
  margin: 100px auto;
}

.col-5 {
  width: 160px;
}

.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(0%);
}

.col-5 img:hover {
  filter: grayscale(0);
}

.zoom {
  transform: scale(1);
  transition: 0.5s;
}

.zoom:hover {
  transform: scale(1.1);
}


.my-card {
  width: 270px;
  height: 370px;
  border-radius: 20px;
  overflow: hidden;
  border: 8px solid #fff;
  position: relative;
}

.my-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.my-card-body {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: #1f3d4738;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
}

.my-card:hover .my-card-body {
  right: 0;
}

.my-card-title {
  padding-left: 10px;
  font-size: 25px;
  font-weight: 500;
}

.my-card-subtitle {
  text-transform: capitalize;
  font-size: small;
  font-weight: 300;
  color: white;
  padding: 20px 10px;
}

.my-card-btn {
  color: #fff;
  /*background: #ff523b;*/
  padding: 10px 20px;
  width: 80px;
  border-radius: 5px;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-weight: 500;
  cursor: pointer;
}

.formabc{
  background: #fff;
  width: 400px;
  display: flex;
  border: 1px solid #ff523b;
  height: 35px;
}
.formabc input{
  flex: 1;
  border: none;
  outline: none;
}
.formabc button{
  background: tomato;
  padding: 0 20px;
  border: none;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  display: block;
}
.formabc .fa-sharp{
  align-self: center;
  padding: 10px 10px;
  color: #777;
}
.formabc .mnb{
  align-self: center;
  padding: 10px 10px;
  color: #777;
  border: none;
}
 ul{
  display: inline-block;
  list-style-type: none;
}
 ul li{
  display: inline-block;
  margin-right: 20px;
}


.sliderabc ul{
  padding: 0;
  list-style: none;
  display: flex;
  width: max-content;
  animation: runSlider 5s linear infinite;
}
.sliderabc img{
  height: 15px;
  margin-right: 10px;
}
.sliderabc li{
  background-color: #322f2f;
  width: 150px;
  letter-spacing: 1px;
  font-family: monospace;
  display: flex;
  justify-content: start;
  align-items: center;
  /*width: 150px;*/
  padding: 10px 0 10px 10px;
  margin-right: 5px;
}
.sliderabc{
  overflow: hidden;
}
@keyframes runSlider{
  from{
    transform: translateX(0);
  }to{
     transform: translateX(calc(-165px*2));
   }
}
