<div class="container" style="min-height: 120vh; margin-top: 50px" *ngIf="oderView.length !==0; else emptyCart">
  <div class="title">
    <h2>THÔNG TIN MUA HÀNG</h2>
  </div>
  <div class="d-flex">
    <form [formGroup]="updateForm">
      <label>
        <input *ngIf="updateForm" type="hidden" formControlName="accountId">
      </label>

      <label>
        <span class="fname">Họ và tên <span class="required">*</span></span>
        <input *ngIf="updateForm" type="text" formControlName="name">
      </label>

      <label>
        <span class="fname">Ngày sinh<span class="required">*</span></span>
        <input type="date" style="width: 60%; height: 35px" formControlName="dateOfBirth">
      </label>

      <label>
        <span class="fname">CMND/CCCD <span class="required">*</span></span>
        <input *ngIf="updateForm" type="number" style="width: 60%" formControlName="idCard">
      </label>

      <label>
        <span class="fname">Số điện thoại <span class="required">*</span></span>
        <input *ngIf="updateForm" type="number" style="width: 60%" formControlName="phoneNumber">
      </label>

      <label>
        <span class="fname">Email <span class="required">*</span></span>
        <input *ngIf="updateForm" type="text" formControlName="email">
      </label>

      <label>
        <span class="fname">Địa chỉ<span class="required">*</span></span>
        <textarea *ngIf="updateForm" class="textarea" formControlName="address"></textarea>
      </label>

      <label style="width: 340px; margin-left: 200px">
        <div id="myPaypalButtons"></div>
      </label>
    </form>

    <div class="Yorder" style="min-height: 700px">
      <table style="min-height: 400px">
        <tr>
          <th colspan="2">Sản phẩm đã đặt</th>
        </tr>
        <tbody *ngFor="let item of oderView | paginate:{itemsPerPage:3, currentPage: p}">
        <tr>
          <img style="width: 100px; height: 100px" src="{{item.avatarProduct}}"><br>
          <td *ngIf="item">{{item.nameProduct}}</td>
          <td *ngIf="item">x{{item.quantity}}</td>
          <td *ngIf="item">{{item.totalPrice| number:'1.0-0'}}VNĐ</td>
        </tr>
        </tbody>
      </table>
      <br>
      <pagination-controls (pageChange)="p=$event" style="font-size: small"></pagination-controls>
      <h5>Tổng thanh toán:</h5>
      <p style="color: red">{{USDTotal / 23000 | currency:'USD'}}</p>
      <!--      <button type="button">Place Order</button>-->
    </div>
  </div>
</div>

<ng-template #emptyCart>

  <img src="../../../assets/img/empty-cart.png" style="width: 50%; height: 400px; margin-left: 400px"/></ng-template>
