<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col-1">
        <h3>Tải App Ở Điện Thoại</h3>
        <p>Có thể tải App ở Android hoặc Iphone</p>
      </div>
      <div class="footer-col-2">
        <img src="../../../assets/img/logo-white.png"/>
        <p>Có thể tải App ở Android hoặc Iphone</p>
      </div>

      <div class="footer-col-3">
        <h3>Liên Hệ Với Chúng Tôi</h3>
        <ul>
          <li>Abcdef</li>
          <li>Abcdef</li>
          <li>Abcdef</li>
          <li>Abcdef</li>
        </ul>
      </div>

      <div class="footer-col-4">
        <h3>Theo Dõi Chúng Tôi</h3>
        <ul>
          <li>Facebook</li>
          <li>Instagram</li>
          <li>Zalo</li>
          <li>Tiktok</li>
        </ul>
      </div>

    </div>
  </div>

</div>
