<div class="container">
    <div class="banner" id="home">
    <div class="content">
<!--      <p>WELCOME TO REDSTORE</p>-->

      <h1>
        Welcome To... <br/>
        <div class="gradientText">
        <div class="job" data-job1="RedStore" data-job2="Everyone'sFashion"></div>
      </div>
      </h1>
      <p>
        Thời trang có thể mua được nhưng phong cách phải là điều sẵn có.
        Hãy tận hưởng việc diện đồ là nghệ thuật đích thực
      </p>
      <div class="find">
        <h3>Theo Dõi Shop</h3>
        <ul>
          <li><i class="fa-brands fa-facebook-f"></i></li>
          <li><i class="fa-brands fa-instagram"></i></li>
          <li><i class="fa-brands fa-twitter"></i></li>
        </ul>
      </div>
    </div>
    <div class="avatar">
      <img src="../../../assets/img/jordan-whitfield-cfutbZ4Kt2k-unsplash-removebg-preview.png"/>
    </div>
  </div>

  <div class="categoryabc">
    <div class="small-containerabc">
      <div class="rowabc zoom">
        <div class="col-3a">
          <img src="../../../assets/img/category-1.jpg"></div>
        <div class="col-3a">
          <img src="../../../assets/img/category-3.jpg"></div>
        <div class="col-3a">
          <img src="../../../assets/img/category-2.jpg"></div>
      </div>
    </div>
  </div>


  <div id="project">
    <h2 class="titleabc zoom">Sản Phẩm Của Chúng Tôi</h2>
    <div style="margin-left: 62%; display: flex; margin-bottom: 50px">
      <select style="margin-right: 15px" [(ngModel)]="category" (change)="getAllProduct(size)">
        <option value="">Tất cả</option>
        <option *ngFor="let item of categoryList" [value]="item.categoryName">{{item.categoryName}}</option>
      </select>
      <div class="animationTop delay-02 formabc">
        <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Bạn cần gì ?" [(ngModel)]="name">
        <i class="fa-thin fa-xmark-large"></i>
        <button type="submit" (click)="getAllProduct(size)">Tìm</button>
      </div>
    </div>
    <div class="listProject">
      <div class="item" *ngFor="let item of pageSize">
        <img src="{{item.avatar}}" alt="">

        <div class="name">
          <h5>{{item.productName}}</h5>
          <h6 style="color: red">{{item.price | number:'1.0-0'}} VNĐ</h6>
          <a><i class="fa-solid fa-circle-info " style="float: left; font-size: 30px"></i></a>
          <a><i class="fa-solid fa-cart-plus fa-shake" style="float: right; font-size: 30px; color: #35b0d5"></i></a>
        </div>
      </div>
    </div>
  </div>


</div>

