<body style="height: 100vh">
<div class="small-container cart-page">
  <table>
    <tr>
      <th>Sản phẩm</th>
      <th>Số lượng</th>
      <th>Size</th>
      <th>Giá tiền</th>
    </tr>

    <tr>
      <td>
        <div class="cart-info">
          <img src="../../../assets/img/Nike-2.jpg"/>
          <div>
            <p>Nike TF 1</p>
            <small>3.650.000đ</small><br>
            <a href="#">Xóa khỏi giỏ</a>
          </div>
        </div>
      </td>
      <td><input type="number" value="1"></td>
      <td>40</td>
      <td>3.650.000đ</td>
    </tr>

    <tr>
      <td>
        <div class="cart-info">
          <img src="../../../assets/img/Nike-3.jpg"/>

          <div>
            <p>Nike TF 2</p>
            <small>2.650.000đ</small><br>
            <a href="#">Xóa khỏi giỏ</a>
          </div>
        </div>
      </td>
      <td><input type="number" value="1"></td>
      <td>40</td>
      <td>2.650.000đ</td>
    </tr>

    <tr>
      <td>
        <div class="cart-info">
          <img src="../../../assets/img/Nike-4.jpg"/>

          <div>
            <p>Nike TF 3</p>
            <small>1.650.000đ</small><br>
            <a href="#">Xóa khỏi giỏ</a>
          </div>
        </div>
      </td>
      <td><input type="number" value="1"></td>
      <td>40</td>
      <td>1.650.000đ</td>
    </tr>
  </table>
  <div class="total-price">
    <table>
      <tr>
        <td>Thành tiền</td>
       <td>7.950.000đ</td>
      </tr>
      <tr>
        <td>VAT</td>
        <td>700.000đ</td>
      </tr>
      <tr>
        <td>Tổng thanh toán</td>
        <td>8.650.000đ</td>
      </tr>
    </table>
  </div>
  <a href="#" class="btn" style="float: right">Thanh toán</a>
</div>
</body>
