
<div class="small-container cart-page" style="min-height: 60vh">
  <table>
<thead>
    <tr>
      <th>Sản phẩm</th>
      <th>Số lượng</th>
      <th>Size</th>
      <th>Giá tiền</th>
    </tr>
</thead>
  <tbody *ngIf="items.length > 0; else emptyCart">
      <tr *ngFor="let temp of items">
        <td>
          <div class="cart-info">
            <img src="{{temp.avatar}}"/>
            <div>
              <p>{{temp.productName}}</p>
              <small>{{temp.price}}</small><br>
              <a (click)="deleteItems(temp.productId)" style="cursor: pointer">Xóa khỏi giỏ</a>
            </div>
          </div>
        </td>
        <td><input type="number" value="1"></td>
        <td>40</td>
        <td>3.650.000đ</td>
      </tr>
  </tbody>
  </table>


  <div class="total-price">
    <table>
      <tr>
        <td>Thành tiền</td>
        <td>7.950.000đ</td>
      </tr>
      <tr>
        <td>VAT</td>
        <td>700.000đ</td>
      </tr>
      <tr>
        <td>Tổng thanh toán</td>
        <td>8.650.000đ</td>
      </tr>
    </table>
  </div>
   <a href="#" class="btn1" style="float: right">Thanh toán</a>
   <a routerLink="/" class="btn" style="float: right; margin-right: 95px" (click)="scrollProductBack()">Mua tiếp</a>
</div>

<ng-template #emptyCart>
  <h3 style="color: red; text-align: center">Chưa có sản phẩm nào trong giỏ hàng <span style="font-size: 35px">😢</span></h3>
</ng-template>
