<div class="small-container single-product">
  <div class="row">
    <div class="col-2">
      <img src="../../../assets/img/Nike-2.jpg" width="85%" height="85%"/>
    </div>
    <div class="col-2">
      <h1>Nike Brand F1</h1>
      <h3 style="color: red">2.650.000đ</h3>
      <select>
        <option>Chọn size</option>
        <option>37</option>
        <option>38</option>
        <option>39</option>
        <option>40</option>
        <option>41</option>
        <option>42</option>
        <option>43</option>
      </select>
      <input type="number" value="1">
      <a href="" class="btn">Thêm vào giỏ</a>
      <h3>Chi tiết sản phẩm</h3>
      <p>Nike Air Force 1 High Sculpt kiểm tra tất cả các hộp của bạn.
        Cổ áo điêu khắc và dây đeo mắt cá chân được loại bỏ hợp lý hóa
        vẻ ngoài của những chiếc vòng mang tính biểu tượng.
        Chất liệu da mềm và có vân nhẹ mang lại cảm giác cao cấp, phá cách một cách đẹp mắt.</p>
    </div>
  </div>
</div>
