<div class="small-container single-product">
  <div class="row">
    <div class="col-2">
      <img [src]="temp.avatar" width="85%" height="75%"/>
    </div>
    <div class="col-2">
      <h1>{{temp.productName}}</h1>
      <h3 style="color: red">{{temp.price}}</h3>
      <select>
        <option>Chọn size</option>
        <option>37</option>
        <option>38</option>
        <option>39</option>
        <option>40</option>
        <option>41</option>
        <option>42</option>
        <option>43</option>
      </select>
      <input type="number" value="1">
      <a class="btn" routerLink="/cart" (click)="pushProduct(temp)">Thêm vào giỏ</a>
      <a href="" class="btn1" (click)="scrollProduct()">Quay lại</a>
      <h3>{{temp.productName}}</h3>
      <p>{{temp.description}}</p>
    </div>
  </div>
</div>
