<div class="small-container single-product">
  <div class="row">
    <div class="col-2">
      <img [src]="temp.avatar" width="85%" height="75%"/>
    </div>
    <div class="col-2">
      <h1>{{temp.productName}}</h1>
      <h3 style="color: red">{{temp.price | number:'1.0-0'}} VNĐ</h3>
      <select>
        <option  *ngFor="let s of size" [value]="s.sizeId">{{s.sizeNumber}}</option>
      </select>
      <input type="number" value="1">
<!--      <a class="btn" routerLink="/" (click)= "addTocard(temp.productId , temp.avatar, temp.price, temp.productName)">Thêm vào giỏ</a>-->
      <a href="" class="btn1" (click)="scrollProduct()">Quay lại</a>
      <h3>{{temp.productName}}</h3>
      <p>{{temp.description}}</p>
    </div>
  </div>
</div>
