
<body style="background-color: #ECECEC">
<div class="justify-content-center m-0 mb-2">
  <div>
    <div>
      <h1 style="size:32px; margin-bottom: 2rem; margin-top: 2rem; text-align: center">DANH SÁCH HỌC SINH LỚP
        1A</h1>
    </div>
    <div>
      <div class="col-2"></div>
      <div class="col-8 container-fluid ">
        <button class="btn btn-primary" style="margin-bottom: 1rem; text-align: right">Quay lại trang trước</button>
        <table class="table table-bordered table-hover" style="text-align: center">
          <thead class="table-primary">
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Họ và tên</th>
            <th scope="col">Giới tính</th>
            <th scope="col">Ngày sinh</th>
            <th scope="col">Chi tiết</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td style="text-align: left">Nguyễn Bảo An</td>
            <td>Nữ</td>
            <td>12/01/2011</td>
            <td>
              <button class="btn btn-outline-primary" style="text-align: center; size: 30px">
                <i class="fa-solid fa-circle-info"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td style="text-align: left">Hoàng Thanh Hòa</td>
            <td>Nam</td>
            <td>12/08/2011</td>
            <td>
              <button class="btn btn-outline-primary" style="text-align: center; size: 30px">
                <i class="fa-solid fa-circle-info"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td style="text-align: left">Huỳnh Minh Hiếu</td>
            <td>Nam</td>
            <td>20/06/2011</td>
            <td>
              <button class="btn btn-outline-primary" style="text-align: center; size: 30px">
                <i class="fa-solid fa-circle-info"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td style="text-align: left">Lê Minh Thi</td>
            <td>Nữ</td>
            <td>15/09/2011</td>
            <td>
              <button class="btn btn-outline-primary" style="text-align: center; size: 30px">
                <i class="fa-solid fa-circle-info"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <div style="margin-top: 1%">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Trước</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Sau</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>
</body>

