<body>

<div class="wrapper fadeInDown">
  <div id="formContent" >
    <!-- Tabs Titles -->
    <h2 class="active"> Đăng Nhập </h2>

    <!-- Icon -->
    <div class="fadeIn first">

    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Tài khoản" formControlName="username">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="Mật khẩu" formControlName="password">
      <div class="inputfield terms">
        <label class="check">
          <input type="checkbox" formControlName="rememberMe">
          <span class="checkmark"></span>
        </label>
        <p>Ghi nhớ đăng nhập</p>
      </div>
      <input type="submit" class="fadeIn fourth" value="Đăng nhập">

    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" routerLink="/security/create">Đăng ký</a>
    </div>

  </div>
</div>
</body>
