
<body>
<div class="container">
  <div class="header" style="margin: 10px 30px">
    <img src="https://raw.githubusercontent.com/HoanghoDev/template_bird/main/avatar.jpg" class="logo"/>
    <ul>
      <li>HOME</li>
      <li>CATEGORY</li>
      <li>INFO</li>
      <li>CONTACT</li>
    </ul>
  </div>
  <div class="effect">
    <div class="birt">
      <img src="https://raw.githubusercontent.com/HoanghoDev/template_bird/main/bird1.gif" alt="">
    </div>
  </div>
  <div class="list">
    <div class="item" id="item_0">
      <img src="https://raw.githubusercontent.com/HoanghoDev/template_bird/main/img2.jpg" alt="" />
      <div class="content">
        <h2>TUẤN LINH</h2>
        <div class="content1">
          Tính rủ anh đi cháy phố, chưa kịp cháy phố mà anh cháy mất tiêu <br/>
          Tính rủ anh đi cháy phố, chưa kịp cháy phố mà anh cháy mất  <br/>
        </div>
        <div class="button">
          See More
        </div>
      </div>
    </div>
    <div class="item" id="item_1">
      <img src="https://raw.githubusercontent.com/HoanghoDev/template_bird/main/img1.jpeg" alt="" />
      <div class="content">
        <h2>TUẤN LINH</h2>
        <div class="content1">
          Tính rủ anh đi cháy phố, chưa kịp cháy phố mà anh cháy mất tiêu <br/>
          Tính rủ anh đi cháy phố, chưa kịp cháy phố mà anh cháy mất tiêu <br/>
        </div>
        <div class="button">
          See More
        </div>
      </div>
    </div>
    <div class="item " id="item_2">
      <img src="https://raw.githubusercontent.com/HoanghoDev/template_bird/main/img3.jpg" alt="" />
      <div class="content">
        <h2>TUẤN LINH</h2>
        <div class="content1">
          Tính rủ anh đi cháy phố, chưa kịp cháy phố mà anh cháy mất tiêu <br/>
          Tính rủ anh đi cháy phố, chưa kịp cháy phố mà anh cháy mất tiêu <br/>
        </div>
        <div class="button">
          See More
        </div>
      </div>
    </div>
  </div>
  <button id="next"><i class="fa-solid fa-angle-right"></i></button>
</div>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
</body>




























